<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wjcontractors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WJContractors.NoActionBarAndStatusBar">
        <activity
            android:name=".CalculateSalaryType"
            android:exported="false" />
        <activity
            android:name=".CalculateSalary"
            android:exported="false" />
        <activity
            android:name=".MarkAttendance"
            android:exported="false" />
        <activity
            android:name=".Attendance"
            android:exported="false" />
        <activity
            android:name=".MdeleteAct"
            android:exported="false" />
        <activity
            android:name=".SDeleteAct"
            android:exported="false" />
        <activity
            android:name=".Mdelete"
            android:exported="false" />
        <activity
            android:name=".Sdelete"
            android:exported="false" />
        <activity
            android:name=".SMdelete"
            android:exported="false" />
        <activity
            android:name=".Sview"
            android:exported="false" />
        <activity
            android:name=".MView"
            android:exported="false" />
        <activity
            android:name=".SMview"
            android:exported="false" />
        <activity
            android:name=".SupervisorMain"
            android:exported="false" />
        <activity
            android:name=".UpdateMasonry"
            android:exported="false" />
        <activity
            android:name=".AddMasonry_act"
            android:exported="false" />
        <activity
            android:name=".AddMasonry"
            android:exported="false" />
        <activity
            android:name=".UpdateSupaervisor"
            android:exported="false" />
        <activity
            android:name=".add_supervisor_act"
            android:exported="false" />
        <activity
            android:name=".add_supervisor"
            android:exported="false" />
        <activity
            android:name=".AddCSiteType"
            android:exported="false" />
        <activity
            android:name=".AddCSite"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".AdminMain"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SupervosorSignIn"
            android:exported="false" />
        <activity
            android:name=".AdminSignIn"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>